div.itoggle-wrapper {
  width: 69px;
  height: 20px;
  vertical-align: middle;
}

div.itoggle-wrapper input.iT_checkbox_on {
  display: block !important;
  float: left;
  position: relative !important;
  top: -43px !important;
  left :100px !important;
  margin-bottom: -43px;
}

/* -----------------------------
  This is the important bit
-------------------------------*/

div.itoggle-wrapper label.ilabel {
  display: block;
  font-size: 12px;
  padding-bottom: 10px;
  cursor: pointer;
}

div.itoggle-wrapper label.itoggle,
div.itoggle-wrapper label.itoggle span{
  display: block;
  width: 69px;
  height: 20px;
/*  margin-bottom: 20px;*/
  background: url(itoggle.png?1) left bottom no-repeat;
  cursor: pointer;
  text-indent: -5000px;
}

div.itoggle-wrapper label.itoggle.iToff{
  background-position: right bottom;
}

div.itoggle-wrapper label.itoggle span{
  background-position: left top;
  margin: 0;
}

div.itoggle-wrapper input.iT_checkbox{
  position: absolute;
  top: -9999px;
  left: -9999px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}